body {
  color: #eee;
  background-color: #001f62;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 auto;
  max-width: 1500px; 
  padding: 0;
  text-align: center;
}

a{
  color: aqua;
}

a:hover {
  opacity: .4;
}

img{
  width: 25%;
  height: 25%;
  margin: 0 auto;
  display: block;
}



